# Output Statement

To display output on the screen we use output statements.

Python provides print() function for printing output on the screen.

### Blank print()

In [1]:
#blank print()
#also called as simply,throws cursor on the newn line.
print()

In [2]:
#if we print the print() funcition it returns Nonetype object
print(print())

None

print() function always returns an object of NoneType

In [3]:
print(print(2))

2
None

In [4]:
print(print('kamal'))

kamal
None

### print('string')

any string passed to the print() function prints as it is on the console.

In [5]:
print('kamal')

kamal

In [6]:
#putting escape characters
print('hello\tKamal!')

hello	Kamal!

We can also include escape characters in the string as

In [7]:
print(r'hello\tkamal')
print(r'hello\nkamal')
print(r'hello\\kamal')

hello\tkamal
hello\nkamal
hello\\kamal

In [8]:
#another way is to include backslash(\)
print('hello\\tkamal')
print('hello\\nkamal')
print('hello\\kamal')

hello\tkamal
hello\nkamal
hello\kamal

In [9]:
#using repition operator
print(3*'hello')

hellohellohello

In [10]:
#using addition operator
print('hello'+'kamal') #concatenation of strings

hellokamal

In [11]:
#using comma 
print("City=",'Hyderabad') #comma puts a space

City= Hyderabad

### print('variable-list')

In [12]:
a,b,c=2,7.6,'kamal'

In [13]:
print(a,b,c)

2 7.6 kamal

#### use of 'sep' attribute

By default values are seperated by space,but to sepearte variable with any other character we use 'sep'(sepeartor) attribute.It works with any number of characters.FORMAT:

>print(variable-list,sep='characters')

In [14]:
print(a,b,sep='') #no space in between

27.6

In [15]:
print(a,b,c,sep=',')

2,7.6,kamal

In [16]:
print(a,b,c,sep='----')

2----7.6----kamal

#### use of 'end' attribute

To get multiple print() function output in one single line with specified charcters in between we use 'end'  attribute.FORMAT

> print(content,end='characters')\

character represents ending character of the line.
Anything we put inside end attribute is printed after each line.

end attribute has '\n' as its default value

In [17]:
#without end attribute
print('hello')
print('Kamal')
print('How are you?')

hello
Kamal
How are you?

In [18]:
#using end attribute
print('hello',end='')
print('kamal',end='')
print('how are you?',end='')

hellokamalhow are you?

In [19]:
print('hello',end='**')
print('kamal',end='**')
print('how are you?',end='**')

print()

#above code can be done as follows but we observe a difference::

print('hello','kamal','How are you?',sep='**')

hello**kamal**how are you?**
hello**kamal**How are you?

### print(object)

we can pass objects like lists,tuples,dictionaries or any other object to print() function elements in the object.

elements of the objects like range,bytes,bytearray cannot be directly printed using print() function,they can be accessd only by using for loop

In [20]:
l1=[1,2.7,'kamal'] #list
t1=(1,2.7,'kamal') #tuple
d1={1:1,2:2.7,3:'kamal'} #dictionary
print(l1,t1,d1,sep='\n')
#accesing elements

[1, 2.7, 'kamal']
(1, 2.7, 'kamal')
{1: 1, 2: 2.7, 3: 'kamal'}

In [21]:
r=range(10) #range
b=bytes(10) #bytes
ba=bytearray(10) #bytearray
print(r,b,ba,sep='\n')
#not able to  access elements

range(0, 10)
b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'
bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00')

### print('string',variable-list)

using print() function to display strings and data in variables alongside

In [22]:
a,b,c,d=5,7.82,'gwwggww',[1,5.8,2+3j]
print('number=',a)
print()
print('all the aove elements: ',a,b,c,d,sep='  ')

number= 5

all the aove elements:   5  7.82  gwwggww  [1, 5.8, (2+3j)]

### print(formatted string)

Formatted output is displayed as per user's choice.A special character % (percent)  is used for the special purpose.

It joins a string with a variable or a value. FORMAT:: 

> print("Formatted string" % (variable-list))

   Type specifier 
   
       %i or %d= integer |  %f= float
        %s= string  |  %c=charcter

In [23]:
num1=73837838
print('number: %i'%num1)
print('number: %2i'%num1)

number: 73837838
number: 73837838

In [24]:
x,y=10,16.34
print('x= %i y=%f'%(x,y))

x= 10 y=16.340000

In [25]:
name='kamal'
print('My name is %s'%name)

My name is kamal

In [26]:
#printing character
print('HIi %c %c '%(name[0],name[1]))
print('hii %s'%(name[0:3])) #printing sliced string

HIi k a
hii kam

In [27]:
#dealing float

num=1284.56789
print("num= %f"%num)

print("num= %10.2f"%num) 
#8 represents 8 blocks before decimal and 2 represents printing upto two digits after decimal

num= 1284.567890
num=    1284.57

We can also use replacement fields enclosed by pair of curly braces.

We can mention names or indexes in replacement fields which represents order of the values.

FORMAT: 

> print( 'formatted string with replacement fields' . format(values/variables))

In [28]:
a,b,c,d=5,7.82,'gwwggww',[1,5.8,2+3j]
n1,n2,n3=4,7,2

In [29]:
print('a={0} b={1} c={2} d={3}'.format(a,b,c,d))

a=5 b=7.82 c=gwwggww d=[1, 5.8, (2+3j)]

In [30]:
# we if we do not give the indexes,compiler automatically considers it

print('n1={} n2={} n3={}'.format(n1,n2,n3))

n1=4 n2=7 n3=2

In [31]:
#we can interchange the indesex to interchange values
print('n1={2} n2={1} n3={0}'.format(n1,n2,n3))

n1=2 n2=7 n3=4

In [32]:
# we can also provide a name to the values and can use it as indexes
print('a={one} b={two} c={three} d={four}'.format(one=a,two=b,three=c,four=d))

a=5 b=7.82 c=gwwggww d=[1, 5.8, (2+3j)]

In [33]:
name,salary,exp='Kamal',78000,5
print('{0} has salary of {1} with an experience of {2} years: '.format((name),salary,exp))

Kamal has salary of 78000 with an experience of 5 years:

In [34]:
# we can use repition operator on the values
name,salary,exp='Kamal',78000,5
print('{0} has salary of {1} with an experience of {2} years: '.format((3*name),salary,exp))

KamalKamalKamal has salary of 78000 with an experience of 5 years:

In [35]:
#we can aslo apply any arithematic opeartor on the value
name,salary,exp='Kamal',78000,5
print('{0} has salary of {1} with an experience of {2} years: '.format((name),(salary**2),exp))

Kamal has salary of 6084000000 with an experience of 5 years:

# Input Statememt

Python provides input statement to take input from keyboard usinf input() function.

>input() function takes value from the keyboard and returns it as string

In [ ]:
str1=input()
print("output: ",str1)

In [ ]:
#taking input as a message: 
str1=input("Enter input: ")
print("output: ",str1)

In [ ]:
#taking integer input
str1=input('Enter the number: ')
x=int(str1) #typecasting
print("number: ",x)

#another way: 
x=int(input('enter Number: '))
print('number: ',x)

In [ ]:
#taking float input
x=float(input("Enter the number: "))
print('number: ',x)

In [1]:
#taking string input
str1=input("Enter the string: ")
print("U entered: ",str1)

Enter the string: Kamal singh
U entered:  Kamal singh

In [4]:
#taking character input
ch=input("Enter the character: ")
print("U entered: ",ch)

ch=input("Enter the character: ")
print("U entered: ",ch[2])

Enter the character: h
U entered:  h
Enter the character: abcd
U entered:  c

In [8]:
#accepting two numebers then opearting them

x=int(input("Enter first number: "))
y=int(input("Enter second number: "))
print("U enterded: {} {} ".format(x,y))
print("sum: ",(x+y))
print("difference: ",(x-y))
print("multiply: ",(x*y))
print("division: ",(x/y))
print("exponential: ",(x**y))

Enter first number: 6
Enter second number: 3
U enterded: 6 3
sum:  9
difference:  3
multiply:  18
division:  2.0
exponential:  216

####  >>IMPORTANT: 

To accept multiple inputs in the same line,we use afor loop along with input() function enclosed within [] square brackets which indicates that the input accepted as elements of list.

inputs are taken as string divided wherever space is found by split method.strings are contained in a list which further converted into required datatype.FORMAT: 

>split() method take the character by which the inputs are splitted when taking input. By default it is ''. split() method by default splits values where a space is found.

In [13]:
#taking 3 space seperated integer values in a single line and adding them

n1,n2,n3=[int(x)**2 for x in input("enter the integers: ").split()]
print("Sum: ",(n1+n2+n3))

enter the integers: 1 2 3
Sum:  14

In [4]:
#taking 3 comma seperated string elements and string them into a list

lst=[x for x in input("Enter the three names: ").split(',')]
print(lst)
print(len(lst))

Enter the three names: kamal,shivam,anubhav
['kamal', 'shivam', 'anubhav']
3

#### eval() function

>eval() function takes a string and evaluates the result of the string by taking it as a python expression.

In [9]:
a,b=5,10
result=eval('a+b-4')
result_f=float(eval('a+b-4'))
result_c=complex(eval('a+b-4'))
print(result)
print(result_f)
print(result_c)

11
11.0
(11+0j)

In [11]:
#eval() function on string
string='kamal'
result=eval('3*string')
print(result)

kamalkamalkamal

In [18]:
#combination of eval() and input() to accept list from keyboard: 

lst=eval(input("Enter the list: "))
print("List: ",lst)
print(type(lst))
print(len(lst))

Enter the list: [1,2,3,4]
List:  [1, 2, 3, 4]
<class 'list'>
4

In [20]:
# if we give inputs without square brackets it elements will be enclosed in a tuple 


lst=eval(input("Enter the list: "))
print("List: ",lst)
print(type(lst))
print(len(lst))

Enter the list: 1,2,3,4
List:  (1, 2, 3, 4)
<class 'tuple'>
4