In [47]:
## PINNED_CODE: 

mat3=[3*[0] for x in range(3)]
print(mat3)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

# LIST

List is a type of sequence which is quite similiar to array but unlike array it can store only one kind of data,list can store multiple types of data object.

List are more versatile than array.

type of List collection is 'list'

elements in the list are enclosed between [ ] square brackets

In [14]:
#list
lst=[1,43,'kamal']
print(lst)
#here we can see multiple tupe of elements are stored in ine sequence.

[1, 43, 'kamal']

In [15]:
type(lst)

list

#### List Creation

In [16]:
#one  way
lst=[]  #empty list
lst=lst+[13]     #conactenation between list and list only
lst=lst+[14]
lst=lst+['kamal']
print(lst)
#like this we can add elements using concatenation. We can also add elements using append() function

[13, 14, 'kamal']

In [17]:
#another way
lst=list([1,2,'kamal',2.84])
print(lst)

[1, 2, 'kamal', 2.84]

In [86]:
chars=list('kamal') #list function always takes iterable objects.
print(chars)

['k', 'a', 'm', 'a', 'l']

In [18]:
#length of list
len(lst)

4

In [23]:
#creating list using range() function function we create a list with all integers
#using range()

ran=range(10) #here by default beginning=0
lst=list(ran)
print(lst)

#we can define limit for range()
ran=range(2,9)
lst=list(ran)
print(lst)

#we can also put step size also
ran=range(2,9,2) #here stepsize=2
lst=list(ran)
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8]
[2, 4, 6, 8]

#### Inexing and Slicing

Indexing and slicing is same as string in python.

In [62]:
lst=[2.87,39,'kaml','singh',2+6j,82,'hdinf']

In [63]:
print(len(lst))

7

In [64]:
print(lst[2])

kaml

In [65]:
print(lst[0])

2.87

In [66]:
print(lst[-1])

hdinf

In [67]:
print(lst[-3])

(2+6j)

In [68]:
#slicing

print(lst[:]) #all elements

[2.87, 39, 'kaml', 'singh', (2+6j), 82, 'hdinf']

In [69]:
print(lst[2:]) #elements from 2 to last

['kaml', 'singh', (2+6j), 82, 'hdinf']

In [70]:
print(lst[:4]) #index 0 to index 3

[2.87, 39, 'kaml', 'singh']

In [71]:
print(lst[::2]) # all elements at a jump of 2

[2.87, 'kaml', (2+6j), 'hdinf']

In [72]:
print(lst[::-1]) #reverse direction

['hdinf', 82, (2+6j), 'singh', 'kaml', 39, 2.87]

In [73]:
print(lst[2:6:-1]) #opp. direction

[]

In [74]:
print(lst[6:2:-1])

['hdinf', 82, (2+6j), 'singh']

In [75]:
print(lst[6::-2]) #stepsize of 2 in reverse direction

['hdinf', (2+6j), 'kaml', 2.87]

In [76]:
#membership functions

2 in lst

False

In [77]:
2.87 in lst

True

In [78]:
2 not in lst

True

#### Iterating list

Iterating is done using loop

In [79]:
for i in lst:
    print(i)

2.87
39
kaml
singh
(2+6j)
82
hdinf

In [80]:
for i in range(len(lst)):
    print('lst[%d]'%(i),lst[i])

lst[0] 2.87
lst[1] 39
lst[2] kaml
lst[3] singh
lst[4] (2+6j)
lst[5] 82
lst[6] hdinf

In [81]:
i=0
while i<len(lst):
    print(lst[i])
    i+=1

2.87
39
kaml
singh
(2+6j)
82
hdinf

In [82]:
#updating elements of list
print(lst)
lst[0]=5.83
print(lst)

[2.87, 39, 'kaml', 'singh', (2+6j), 82, 'hdinf']
[5.83, 39, 'kaml', 'singh', (2+6j), 82, 'hdinf']

In [84]:
print(lst)
lst[2:4]=['kamal','singh']
print(lst)

[5.83, 39, 'angad', 'singh', (2+6j), 82, 'hdinf']
[5.83, 39, 'kamal', 'singh', (2+6j), 82, 'hdinf']

In [ ]:
#updating series of elements

print(lst)
lst[2:4]=[x for x in input().split(',')]
print(lst)

In [87]:
#concatenation: only occurs between list and list type objects

l1=[1,2,3]
l2=[4,5,6]
print(l1+l2)

[1, 2, 3, 4, 5, 6]

In [88]:
l1+'string'

TypeError: can only concatenate list (not "str") to list

In [89]:
#repition
l1*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

#### Aliasing Lists

Giving a new name to the lsit is called aliasing.

In [96]:
x=[1,4,4,3,52,9]

In [97]:
y=x  #aliasing

In [98]:
print('x= ',x)
print('y=',y)

x=  [1, 4, 4, 3, 52, 9]
y= [1, 4, 4, 3, 52, 9]

> In aliasing if we change values to the alias it gets reflected on the main list and vice-versa

In [99]:
print('old x: ',x)
print('old y: ',y)
y[2]=25
print('Updated y: ',y)
print('updated x: ',x)

#we can observe change in x also

old x:  [1, 4, 4, 3, 52, 9]
old y:  [1, 4, 4, 3, 52, 9]
Updated y:  [1, 4, 25, 3, 52, 9]
updated x:  [1, 4, 25, 3, 52, 9]

if we want to have two independent lists we should do 'Cloning' or 'Copying'.

#### Cloning: 

Cloning is when we create an exact copy of an existing list(object).

In [103]:
x=[2,5,92,34,21]
y=x[:]  #cloning i.e. sepearte copy of x is being assigned to y

print('old x: ',x)
print('old y: ',y)

x[1]=50
print('updated x: ',x)
print('y=',y )
#we observe no change in x

old x:  [2, 5, 92, 34, 21]
old y:  [2, 5, 92, 34, 21]
updated x:  [2, 50, 92, 34, 21]
y= [2, 5, 92, 34, 21]

In [107]:
#we can also clone some part of existing list too
y=x[1:3]
print(y)

[50, 92]

 similiar process can be done by copying too using copy( ) function

In [108]:
x=[2,8,2,4]
y=x.copy()
print(x)
print(y)

[2, 8, 2, 4]
[2, 8, 2, 4]

In [110]:
x[1]=80
print('updated x: ',x)
print('y=',y)

updated x:  [2, 80, 2, 4]
y= [2, 8, 2, 4]

### Nested Lists

In [111]:
lst=[1,'kamal',92.4,'hehe',[2,5,'jj']]

In [112]:
print(lst)

[1, 'kamal', 92.4, 'hehe', [2, 5, 'jj']]

In [113]:
#iterating list

for i in lst:
    print(i)

1
kamal
92.4
hehe
[2, 5, 'jj']

In [115]:
#extracting inside list elements

for i in lst:
    if type(i)==list:
        for x in i:
            print(x)
        continue
    print(i)

1
kamal
92.4
hehe
[2, 5, 'jj']
2
5
jj

In [118]:
#accesing elements
print(lst)
print(lst[4][0])
print(lst[4][2])

[1, 'kamal', 92.4, 'hehe', [2, 5, 'jj']]
2
jj

In [126]:
# nested lists as matrix

mat=[[1,2,3],[4,5,6],[7,8,9]]

In [127]:
print(mat)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [128]:
for i in mat:
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [129]:
#elements of matrix wise iteration
for i in mat:
    for j in i:
        print(j,end=' ')
    print()

1 2 3
4 5 6
7 8 9

In [132]:
len(mat)

3

In [133]:
#iterating using index values

for i in range(len(mat)):
    for j in range(len(mat[i])):
        print('%d'%mat[i][j],end=' ')
    print()

1 2 3
4 5 6
7 8 9

In [136]:
#ading two matrices
mat1=[[1,2,3],[4,5,6],[7,8,9]]
mat2=[[7,8,9],[4,5,6],[1,2,3]]
mat3=[3*[0] for x in range(3)] #creating three nested lists in  mat3[]
for i in range(len(mat1)):
    for j in range(len(mat[i])):
        mat3[i][j]=mat1[i][j]+mat2[i][j]
print(mat3)

[[8, 10, 12], [8, 10, 12], [8, 10, 12]]

## Basic List Built-In methods

In [178]:
lst=[2.87,39,'kaml','singh',2+6j,82,'hdinf']

In [179]:
#append(): used to add new data objects to the end of the list
lst.append(96)
print(lst)

[2.87, 39, 'kaml', 'singh', (2+6j), 82, 'hdinf', 96]

In [180]:
lst.append([1,2,'Sam'])
print(lst)

[2.87, 39, 'kaml', 'singh', (2+6j), 82, 'hdinf', 96, [1, 2, 'Sam']]

In [181]:
#extend(): Extend list by appending elements from the iterable.
lst.extend(['kamal'])
print(lst)

[2.87, 39, 'kaml', 'singh', (2+6j), 82, 'hdinf', 96, [1, 2, 'Sam'], 'kamal']

#### Difference Between append( ) extend( ) and '+'

> append( ) adds the iterable object as it is but extend( ) adds the each and every element from the iterable on by one.

In [182]:
samp=[2,5]
samp.append([1,6,4]) #append adds list as it is
print(samp)

[2, 5, [1, 6, 4]]

In [183]:
samp=[2,5]
samp.extend([1,6,4]) #iterates the iterable object and adds one by one
print(samp)

[2, 5, 1, 6, 4]

In [184]:
samp.append('kamal')
print('with append: ',samp)
samp.extend('kamal')
print('with extend: ',samp)

with append:  [2, 5, 1, 6, 4, 'kamal']
with extend:  [2, 5, 1, 6, 4, 'kamal', 'k', 'a', 'm', 'a', 'l']

In [185]:
#to add the iterable as it is with extend 

samp=[2,6]
samp.extend(['kamal'])
print(samp)

[2, 6, 'kamal']

In [186]:
samp=[2,7]
samp=samp+['kamal']
print(samp) #'+' is same as append

[2, 7, 'kamal']

In [187]:
lst

[2.87, 39, 'kaml', 'singh', (2+6j), 82, 'hdinf', 96, [1, 2, 'Sam'], 'kamal']

In [188]:
#count(): counts the number of occurences of an object in the list
lst.count(39)

1

In [189]:
#index(): Return first index of value
lst.index('kaml')

2

index function only tells the first occurence

In [190]:
samp=[1,2,1]
print(samp.index(1)) #ignore 1 at index 2

0

In [191]:
#pop: deletes last element of the list by default and return the popped element
lst.pop()
print(lst)

[2.87, 39, 'kaml', 'singh', (2+6j), 82, 'hdinf', 96, [1, 2, 'Sam']]

In [192]:
#it also removes eleemnt at an index
lst.pop(2)
print(lst) #pops element at index 2

[2.87, 39, 'singh', (2+6j), 82, 'hdinf', 96, [1, 2, 'Sam']]

In [193]:
#remove() : Remove first occurrence of value.i.e. it takes the value to be deleted from the list
lst.remove([1,2,'Sam'])
print(lst)

#remove() function is case-senstive

[2.87, 39, 'singh', (2+6j), 82, 'hdinf', 96]

In [199]:
#sort(): Stable sort *IN PLACE* 
samp=[29,0,82,65,91,2,37]
samp.sort()
print('ascending order: ',samp)

#for descending order

samp.sort(reverse=True)
print('descending order: ',samp)

ascending order:  [0, 2, 29, 37, 65, 82, 91]
descending order:  [91, 82, 65, 37, 29, 2, 0]

In [196]:
lst.sort()
print(lst)
#as list elements are of different types,hence not comparable so no sort() function applies.

TypeError: '<' not supported between instances of 'str' and 'int'

In [5]:
#sorting within nested string

samp=[[8,2,92,42],[78,3,82,43]]
for i in samp:
    i.sort()
print(samp)

samp=[['kamal','angad','hen'],['Yawn','Ox','cat','owl']] #lowercase comes later,upper comes first
for i in samp:
    i.sort()
print(samp)


samp=list('kaMaL')
samp.sort()
print(samp) #uppercase comes first

[[2, 8, 42, 92], [3, 43, 78, 82]]
[['angad', 'hen', 'kamal'], ['Ox', 'Yawn', 'cat', 'owl']]
['L', 'M', 'a', 'a', 'k']

In [5]:
#sorting list without using sort() function

nums=[int(x) for x in input("enter '\ '\ seperated numbers: ").split(' ')]
i=0
temp=0
while i<len(nums):
    for j in range(0,len(nums)-i-1):
        if nums[j]>nums[j+1]:
                temp=nums[j]
                nums[j]=nums[j+1]
                nums[j+1]=temp
    i+=1
print(nums)

enter '\ '\ seperated numbers: 23 81 9 54 35 2
[2, 9, 23, 35, 54, 81]

enter '\ '\ seperated numbers: 23 81 9 54 35 2
[23, 9, 2, 35, 54, 81]

In [200]:
#clear(): clears the whole list object
lst.clear()
print(lst)

[]

## List Comprehension

List comprehension represents the creation of a list from iterable objects(like list, set, tuple, dictionary, or range) usually in a given single line statement that satisfy the given condition.

> Compact way to write list generation code.

In [6]:
#printing squares from 1 to 10

squares=[ x**2 for x in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
#list comprehension using condition

sq_con=[x**2 for x in range(1,11) if x%2==0]
print(sq_con)

[4, 16, 36, 64, 100]

### NOTE: 

> while dealing with list comprehension, the pointer goes from " right to left " i.e. first condition then loops the assigbnment

In [9]:
#multiple loop taking elements from loop

product=[ x*y for x in (2,5,9) for y in (1,6,3)] #multiplying one to three
print(product)

[2, 12, 6, 5, 30, 15, 9, 54, 27]

In [13]:
#multiplying corresponding elements of two sequences using condition
t1=(2,5,9)
t2=(1,6,3)
cor_pro=[ x*y for x in t1 for y in t2 if t1.index(x)==t2.index(y) ] 
print(cor_pro)

[2, 30, 27]

In [24]:
#creating a list fromm dictionary
d={'kamal':4,'agam':9,'hemen':7}
values=[d[i] for i in dic]
values.sort()
print(values)

[4, 7, 9]

In [25]:
#dealing with strings

rel=[i+j for i in'XYZ' for j in 'RS']
print(rel)

['XR', 'XS', 'YR', 'YS', 'ZR', 'ZS']

In [29]:
#creating ia new string n extracting elements that is in num1 but not in num2
num1=[5,2,9,1]
num2=[8,6,5,4,1]
num3=[i for i in num1 if i not in num2]
print(num3)

[2, 9]

In [30]:
#extracting common elements
num1=[5,2,9,1]
num2=[8,6,5,4,1]
num3=[i for i in num1 if i in num2]
print(num3)

[5, 1]

In [ ]:
#printing table form 1 to 10 using list comprehension
nums=list(range(1,11))
mul=list(range(1,11))
tab=[i*j for i in nums for j in mul]
x=0
while x<len(tab):
    print(tab[x],'\t',end=' ')
    if (x+1)%10==0:
        print()
    x=x+1

#### Dealing with matrices using list comprehension

In [32]:
mat=[[1,2,3],[4,5,6],[7,8,9]]
print(mat)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [35]:
for i in range(len(mat)):
    for j in range(len(mat[i])):
        print(mat[i][j],end=' ')
    print()

1 2 3
4 5 6
7 8 9

In [37]:
#print  first colum elements

col=[i[0] for i in mat]
print(col)

[1, 4, 7]

In [40]:
#printing columnwise elements
for i in range(len(mat)):
    col[i]=[x[i] for x in mat]
print(col)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [42]:
#printing diagonal elements
dig=[mat[x][i] for x in range(len(mat)) for i in range(len(mat[x])) if x==i ]
print(dig)

[1, 5, 9]

#### some more functions

In [50]:
lst=[1,74,54,3,892,33]
print('sum:',sum(lst))
print('Max:',max(lst))
print('Min:',min(lst))

sum: 1057
Max: 892
Min: 1