# Tuple

A kind of collection similiar to list, which can store any kind of dataset,but are immutable and elements are seperated by comma ( , ) enclosed between parenthesis.

> We use TUPLE dataset when we do not want our data to get altered,such as such as days of week or dates on a calendarand for secure transmission and storing of the data like paswords that cannot be manipulated.

In [1]:
#empty tuple

tup=()
print(tup)
print(type(tup))

()
<class 'tuple'>

In [2]:
#tuple with one element

tup=(20,)  #we use comma after the element
print(tup)

(20,)

In [5]:
#tuple with integers using range

tup=tuple(range(3,8)) #range object converted to tuple object
print(tup)

(3, 4, 5, 6, 7)

In [6]:
#tuple with multiple types of elements\

tup=(55,2+3j,8.72,'kamal','pandey',-32)
print(tup)

(55, (2+3j), 8.72, 'kamal', 'pandey', -32)

### NOTE:
> If we do not mention parenthesis while defining tuple,  by default it is considered as tuple

In [8]:
t= 1,2,3,4
print(t)
print(type(t))

(1, 2, 3, 4)
<class 'tuple'>

In [52]:
#crearting tuple from list

lst=[1,2,3,4]
t=tuple(lst)
print('t',type(t)," : ",t)

#converting list to tuple

l=list(t)
print('l',type(l),l)

t <class 'tuple'>  :  (1, 2, 3, 4)
l <class 'list'> [1, 2, 3, 4]

In [16]:
#creting tuple from dictionary

d={'kamal':4,'agam':9,'hemen':7}
t=tuple(d)
t1=tuple(d.values())
print(type(t)," : ",t)
print(type(t1)," : ",t1)

<class 'tuple'>  :  ('kamal', 'agam', 'hemen')
<class 'tuple'>  :  (4, 9, 7)

In [9]:
#list inside tuple

tup=(55,2+3j,8.72,'kamal','pandey',-32,[1,2,3]) 
print( tup)

(55, (2+3j), 8.72, 'kamal', 'pandey', -32, [1, 2, 3])

In [11]:
#tuple inside tuple

tup=(55,2+3j,8.72,'kamal','pandey',-32,(3,2,3))
print(tup)

(55, (2+3j), 8.72, 'kamal', 'pandey', -32, (3, 2, 3))

    Indexing and Slicing in tuple are same as list

In [19]:
#indexing

print(tup)
print(tup[0])
print(tup[2])
print(tup[6])
print(tup[-1])
print(tup[-4])

(55, (2+3j), 8.72, 'kamal', 'pandey', -32, (3, 2, 3))
55
8.72
(3, 2, 3)
(3, 2, 3)
kamal

In [30]:
#slicing

print(tup[1:4])
print(tup[::-1]) #reverse
print(tup[-1:-6:-2]) #with step size
print(tup[-4:-1])

((2+3j), 8.72, 'kamal')
((3, 2, 3), -32, 'pandey', 'kamal', 8.72, (2+3j), 55)
((3, 2, 3), 'pandey', 8.72)
('kamal', 'pandey', -32)

In [28]:
e1,e2=tup[1:3]
print(e1,e2)

(2+3j) 8.72

### Basic operations on Tuples

In [31]:
t=(1,4,6,'kamal')
print(t)

(1, 4, 6, 'kamal')

In [32]:
t*3 #reptition

(1, 4, 6, 'kamal', 1, 4, 6, 'kamal', 1, 4, 6, 'kamal')

In [33]:
t+(7,'singh') #concatenation

(1, 4, 6, 'kamal', 7, 'singh')

In [34]:
len(t)

4

In [35]:
#memebership
4 in t

True

In [36]:
5 in t

False

In [38]:
5 not in t

True

In [40]:
#iteration

for i in t:
    print(i)

1
4
6
kamal

In [43]:
i=0
while i<len(tup):
    print(tup[i])
    i+=1

55
(2+3j)
8.72
kamal
pandey
-32
(3, 2, 3)

In [44]:
t=(4,92,63,9,12)
print('sum:',sum(t))
print('max:',max(t))
print('min: ',min(t))

sum: 180
max: 92
min:  4

#### Immutability

> Tuples are immutable ,means that any value at any index cannot be updated or changed.

>Strings are primitive immutable datatype whereas tuple is a collection that contains multiple kind of data which is immutable.

In [49]:
lst=[1,2,3,4]
print(lst)
lst[2]='kamal'
print(lst)
#lista are mutable

t=(1,2,3,4)
print(t)
t[2]=3+2j #gives error as tuple are immutable
print(t)

[1, 2, 3, 4]
[1, 2, 'kamal', 4]
(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

In [58]:
#finding index

t=2,6,3
print('index: ',t.index(6)) #prints index of the element

index:  1

In [54]:
tup=(55, (2+3j), 8.72, 'kamal', 'pandey', -32, [3, 2, 3])

In [63]:
#manipulating list in tuple

for i in tup:
    if type(i)==list:
        i[0]=1 #we can see change in the list p[resent in the tuple given
        break
print(tup)
tup[i]=[3,2,1,1] #this will give error

(55, (2+3j), 8.72, 'kamal', 'pandey', -32, [1, 2, 3])

TypeError: 'tuple' object does not support item assignment

In [7]:
#taking tuple from console

seq=eval(input('Enter the tuple inside ()'))  #we can also input without parenthesis
print(seq)
print(sum(seq))
print(sum(seq)/len(seq))

Enter the tuple inside ()1,2,3,4,5,6
(1, 2, 3, 4, 5, 6)
21
3.5

#### NOTE

eval ( ) function takes the input as it is and can differentiate betweeen listand tuple, as if it encounters [ ] the it considers the sdequence as list otherwise tuple.

### Built_in Functions

In [10]:
tup=(55,2+3j,8.72,'kamal','pandey',-32,(3,2,3))

In [14]:
tup.count(55) #creturns the number of occurenece of the element

1

In [15]:
tup.index(8.72) #return the index of first occurence

2

In [21]:
t=(4,8,2,5)
print(sorted(t)) #return in the form of list
tuple(sorted(t)) #converting obtined list to tuple

[2, 4, 5, 8]

(2, 4, 5, 8)

In [15]:
## Adding element to tuple
tup=(55,2+3j,8.72,'kamal','pandey',-32,(3,2,3))
n=int(input('Enter the position: '))
temp=()
try:
    num=eval(input('enter the element to be added: '))
    if n==1:
        temp=temp+(num,)
        for i in range(0,len(tup)):
            temp=temp+(tup[i],)
    else:        
        for i in range(0,n-1):
            temp=temp+(tup[i],)
        temp=temp+(num,)
        for i in range(n-1,len(tup)):
            temp=temp+(tup[i],)
    tup=temp
    print(tup)
except IndexError:
    print('Try valid position')

Enter the position: 2
enter the element to be added: 222
0
2
(55, 222, (2+3j), 8.72, 'kamal', 'pandey', -32, (3, 2, 3))

In [8]:
#modifying element in tuple

tup=(55,2+3j,8.72,'kamal','pandey',-32,(3,2,3))
n=int(input('Enter the position: '))
temp=()
try:
    num=eval(input('enter the new elememnt: '))
    if n==1:
        temp=temp+(num,)
        for i in range(1,len(tup)):
            temp=temp+(tup[i],)
    else:        
        for i in range(0,n-1):
            temp=temp+(tup[i],)
        temp=temp+(num,)
        for i in range(n,len(tup)):
            temp=temp+(tup[i],)
    tup=temp
    print(tup)
except IndexError:
    print('Try valid position')

Enter the position: 4
enter the new elememnt: 33
(55, (2+3j), 8.72, 33, 'pandey', -32, (3, 2, 3))

In [23]:
#deleting element in tuple  #try with index position

n=0
tup=(55,2+3j,8.72,'kamal','pandey',-32,(3,2,3))
num=input('Enter the element: ') #glitch
temp=()
for i in tup:
    if i==num:
        n=tup.index(i)
if n==0:
    for i in range(1,len(tup)):
        temp=temp+(tup[i],)
else:
    for i in range(0,n):
        temp=temp+(tup[i],)
    for i in range(n+1,len(tup)):
        temp=temp+(tup[i],)
tup=temp
print(tup)

Enter the element: 8.72

ValueError: invalid literal for int() with base 10: '8.72'

# Set

A Set is an unordered and unindexed collection of 'unique' elements ecnlosed between curly braces { } which can be constructed using the set() function.

> Here unordered means no indexing follows in sets and unique represent that duplicate elements are not allowed.

> Set always holds an unique element

In [1]:
#set creation
s=set()
print(s)
print(type(s))

set()
<class 'set'>

In [2]:
s=set(2,3,4)
print(s) #gives error as set() function only takes iterable elements

TypeError: set expected at most 1 arguments, got 3

In [7]:
set(2) #integer object is not iterable

TypeError: 'int' object is not iterable

## NOTE
> set( ) function only takes iterable elements like tuple,list,dictionary,range,string

In [6]:
t=(1,2,3)
lst=[3,2,1]
string='kamal'
d={'name':'kamal','age':23} #prints key values as set
print('from tuple: ',set(t))
print('from lst: ',set(lst))
print('from string: ',set(string))
print('from dictionary: ',set(d))
print('from range: ',set(range(10)))

from tuple:  {1, 2, 3}
from lst:  {1, 2, 3}
from string:  {'a', 'k', 'm', 'l'}
from dictionary:  {'name', 'age'}
from range:  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

> set( ) function always return unique single value from multiple values present in iterable

In [8]:
set('kamal') # 'a' is printed single time

{'a', 'k', 'l', 'm'}

In [9]:
set([1,2,3,3,3,4,6,6,7])

{1, 2, 3, 4, 6, 7}

In [11]:
#set can have heterogeneous values

set(['hjhj',28,4.82,True,2+4j])

{(2+4j), 28, 4.82, True, 'hjhj'}

In [13]:
#nested set
set(((1,2),(3,4))) #Tuple on set

{(1, 2), (3, 4)}

In [14]:
set(((1,2),(1,2))) #eliminates duplicate element

{(1, 2)}

> set( ) function doesn't allow list asits element because it is mutable and can be altered,comprmising the uniquness of the set

In [15]:
set([[1,2],[3,4]])

TypeError: unhashable type: 'list'

In [17]:
#tuples are allowed inside list
set( [ (1,2) , (3,4) ] ) #here iterabe object is list and elements are tuple

{(1, 2), (3, 4)}

In [20]:
 #converting set to another data objects
    
s={1, 45, 5, 82, 'fsfs', 'sudh'}
s

{1, 45, 5, 82, 'fsfs', 'sudh'}

In [21]:
list(s)

[1, 'fsfs', 5, 45, 82, 'sudh']

In [23]:
tuple(s)

(1, 'fsfs', 5, 45, 82, 'sudh')

In [24]:
dict(s) #set cannot be converted to dictionary

TypeError: cannot convert dictionary update sequence element #0 to a sequence

## IMP:
> Dictionary and list are not allowed to set function when passed as elements

> Once a set is created, we cannot change its items but we can add new items.

### Acessing elements

Indexing and Slicing is not allowed in set.

We can access set elements by iterating through loop.

In [28]:
#iterating set

for i in s:
    print(i)

1
fsfs
5
45
82
sudh

In [52]:
samp_set=set([2,2.89,3-2j,True,'kamal',(7,8,'tuple'),range(10)])
print(samp_set)

{True, 2, 2.89, (7, 8, 'tuple'), range(0, 10), 'kamal', (3-2j)}

### Built-In methods in Set

In [34]:
samp_set

{(3-2j), (7, 8, 'tuple'), 2, 2.89, True, 'kamal', range(0, 10)}

In [37]:
samp_set.add(23) 
#Add an element to a set.
#takes only one dataobject value
#no effect if the element is present in the set
print(samp_set)

{True, 2, 2.89, (7, 8, 'tuple'), range(0, 10), 23, 'kamal', (3-2j)}

In [40]:
set_copy=samp_set.copy()
#Return a shallow copy of a set
print(set_copy)

{True, 2, 2.89, (7, 8, 'tuple'), range(0, 10), 23, 'kamal', (3-2j)}

In [41]:
s={2,6,3.82,'kamal',(2,4)}

In [44]:
samp_set.difference(s)
#Return the difference of two or more sets as a new set i.e. returns elements which are present in samp_set but not in s

{(3-2j), (7, 8, 'tuple'), 2.89, 23, True, range(0, 10)}

In [51]:
print(samp_set)
samp_set.difference_update(s)
#Remove all elements of another set from this set i.e removes elements of samp_set which are present in s
print('s: ',s)
print('samp_set: ',samp_set)
#we can see 'kamal' and 2 are removed from samp_set

{True, 2, 2.89, (7, 8, 'tuple'), range(0, 10), 'kamal', (3-2j)}
s:  {2, 3.82, 6, 'kamal', (2, 4)}
samp_set:  {True, 2.89, (7, 8, 'tuple'), range(0, 10), (3-2j)}

In [61]:
samp_set=set([2,2.89,3-2j,True,'kamal',(7,8,'tuple'),range(10)])

In [62]:
samp_set=set([2,2.89,3-2j,True,'kamal',(7,8,'tuple'),range(10)])
print(samp_set)
print(s)
samp_set.intersection(s)

#returns intersection of two sets i.e common elements

{True, 2, 2.89, (7, 8, 'tuple'), range(0, 10), 'kamal', (3-2j)}
{2, 3.82, 6, 'kamal', (2, 4)}

{2, 'kamal'}

In [87]:
samp_set=set([2,2.89,3-2j,True,'kamal',(7,8,'tuple'),range(10)])

samp_set.union(s)

#returns a set of union of two sets i.e. union of samp_set and s

#union method removes the duplicate elemnts

{(2, 4),
 (3-2j),
 (7, 8, 'tuple'),
 2,
 2.89,
 3.82,
 6,
 True,
 'kamal',
 range(0, 10)}

In [90]:
samp_set=set([2,2.89,3-2j,True,'kamal',(7,8,'tuple'),range(10)])
s={2, 3.82, 6, 'kamal', (2, 4)}

print(samp_set,"\n")
samp_set.update(s)
#Update the set with the union of this set and others i.e. updates samp_set with union odf samp_set and s

print(samp_set)

{True, 2, 2.89, (7, 8, 'tuple'), range(0, 10), 'kamal', (3-2j)}

{True, 2, 2.89, 3.82, 6, (7, 8, 'tuple'), range(0, 10), (2, 4), 'kamal', (3-2j)}

In [69]:
samp_set=set([2,2.89,3-2j,True,'kamal',(7,8,'tuple'),range(10)])
print(samp_set)
samp_set.intersection_update(s)

#Update a set with the intersection of itself and another i.e. samp_set will be updated with the common elements 
#between samp_set and s
print(samp_set)
print(s)

{True, 2, 2.89, (7, 8, 'tuple'), range(0, 10), 'kamal', (3-2j)}
{2, 'kamal'}
{2, 3.82, 6, 'kamal', (2, 4)}

In [79]:
samp_set=set([2,2.89,3-2j,True,'kamal',(7,8,'tuple'),range(10)])
print(samp_set)
samp_set.pop()
#Remove and return an arbitrary set element.
#Raises KeyError if the set is empty.
print(samp_set)

{True, 2, 2.89, (7, 8, 'tuple'), range(0, 10), 'kamal', (3-2j)}

True

In [82]:
#Remove an element from a set; it must be a member,otherwise gives keyerror
samp_set=set([2,2.89,3-2j,True,'kamal',(7,8,'tuple'),range(10)])
samp_set.remove(2)
print(samp_set)
samp_set.remove(3) #element not available

{True, 2.89, (7, 8, 'tuple'), range(0, 10), 'kamal', (3-2j)}

KeyError: 3

In [83]:
samp_set=set([2,2.89,3-2j,True,'kamal',(7,8,'tuple'),range(10)])
print(samp_set)
samp_set.discard(2)

#removes the element from set if it is memeber,otherwise do nothing
print(samp_set)

#we can see 2 has been removed from samp set

{True, 2, 2.89, (7, 8, 'tuple'), range(0, 10), 'kamal', (3-2j)}
{True, 2.89, (7, 8, 'tuple'), range(0, 10), 'kamal', (3-2j)}

In [88]:
samp_set=set([2,2.89,3-2j,True,'kamal',(7,8,'tuple'),range(10)])

samp_set.clear()

#it clears the whole set
print(samp_set) #we observe an empty set

set()

### >>
remove( ) function raises an error when element not present but discard() function won't.

pop() function removes an element at random as in set there is no order but returns that element

#### Other functions: 
    isdisjoint(), issubset(), issuperset()