    Function continued..

## Anonymous Functions or Lmabda Function

Anonymous functions are functions without name and are defined without 'def' keyword. They are defined using *lambda* keyword hence they are called Lambda function.

FORMAT: 
            
            lambda argument_list : expression(body)

In [1]:
#normal function

def square(x):
    return x*x

In [3]:
#lambda function

lambda x: x*x   #no function name

Above we observe lambda keyword. Also, x after lamda is the parameter,there can be number of parameters, colon ( : ) defines the start of the function body and later part is the body of the function. 

>Lambda function contains only one experession and they return results explicitly. Hence, there is no return statement for lambda function. 

>The lambda function returns a function and hence they are assigned to a function.

In [4]:
f=lambda x: x*x

#f is function name to which lambda espresion is  assigned

In [5]:
#calling a lambda function we call f

sq_value=f(5)

In [7]:
#program to square the value of number

f=lambda x: x*x
x=int(input('Enter the number: '))
sq_value=f(x)
print('square of {}:'.format(x),sq_value)

Enter the number: 4
square of 4: 16

In [11]:
#program to find sum of two numbers

f=lambda x,y : (x+y)
sum=f(573.3,3.8935)
print("sum: ",sum)

sum:  577.1935

In [12]:
#finding biggest among two numbers

f=lambda x,y: x if x>y else y
x=int(input('x: '))
y=int(input('y: '))
bigger=f(x,y)
print('greater: ',bigger)

x: 3
y: 6
greater:  6

In [48]:
#returning multiple elements from lambda function

f=lambda x,y,z: (x*2,y*3,z*4)
lst=list(f(5,6,7))
print(lst)

[10, 18, 28]

In [56]:
#printng union of two sets using lambda function

f=(lambda x,y: x.union(y))
ss=set(f({2,3,4},{5,6,2}))
print(ss)

{2, 3, 4, 5, 6}

In [57]:
#printing squares of list elemnts

f=lambda x: x**2, lst

lst=[1,2,3,4,5]
lst_sq=f(lst)
print(lst_sq)

TypeError: 'tuple' object is not callable

above we can see that data processing of huge data seems difficult. Soto solve thta,t we can pass lambda function to another function which makes data processing much easier we use some functions for this.

### 1. Using lambdas with *filter()* function

>The filter function helps eliminating or filtering out the elements of ta sequence dependiong on the results of a function.
We supply a function and a sequence to the function.

    filter(function,sequence)

The function given representsa function name which return either TRUE or FALSE and function is applied to every element of the sequence, if it return True elemnt is extracted else ignored.

In [31]:
#finding if number is even or not using filter function and lambda

#function works as selector
def check(x):
    if x%2==0:
        return True
    else:
        return False
    
#taking sequenc- sequence can be list,tuple,string
lst=[7,4,9,12,93.57]

#obtained numbers are pased in another list:

lst_res=filter(check,lst)
print(lst_res)
print(type(lst_res))
# we get a filter object which contains elements so we have to convert it to list.

lst_res=list(filter(check,lst))
print(type(lst_res))
print(lst_res)

<filter object at 0x000002133780ED88>
<class 'filter'>
<class 'list'>
[4, 12]

In [32]:
#above prob using lambda funtion: 

lst=[7,4,9,12,93.57]
lst_res=list(filter(lambda x: True if x%2==0 else False,lst))
print(lst_res)

[4, 12]

In [33]:
# checking if student has passed or not

def grade_check(x):
    if x>=34:
        return True
    else:
        return False
tup=87,23,75,14,64

passed=tuple(filter(grade_check,tup))
print(passed)

(87, 75, 64)

In [34]:
#above prob using lambda funtion: 

tup=87,23,75,14,64

passed=tuple(filter((lambda x: True if x>=34 else False),tup))
print(passed)

(87, 75, 64)

In [35]:
#squaring numbers

def square(x):
    return x**2
lst=[1,2,3,4]
squares=list(filter(square,lst))
print(squares)

#non functioning for arithematic operations

[1, 2, 3, 4]

    above we can see that the output remains same as input this is beacuse square() function returns squared value which is not zero and filter function takes it as True value and extracts the number from the list.
So: 
> filter() function only understands Boolean values it cannot be used for returning any arithematic operationed output. To get rid of this we use map( ) function

### 2. Using Lambdas with *map()* function

The map() function works similiar to filter() function but it acts on each element of sequence and perhps changes the element.
It can also be sued to perform arithematic operations and retrieving processed data.

    map(function,sequence)

> This function performs **Specific Operation** on all the elements of the sequene and modified elements are returned which can be stored in another sequence.

In [36]:
#squaring number of a sequence

#squaring numbers

def square(x):
    return x**2
lst=[1,2,3,4]
squares=list(map(square,lst))
print(squares)

[1, 4, 9, 16]

In [46]:
#we can use lambda function also INT

tup=1,2,3,4,5
squares=tuple(map(lambda x: x*x,tup)) #printing squares
print(squares)
squares=tuple(map(lambda x: (x,x*x),tup)) #printing squares as well as numbers
print(squares)

(1, 4, 9, 16, 25)
((1, 1), (2, 4), (3, 9), (4, 16), (5, 25))

In [44]:
#passing dictionary and extracting values

d={1:'I',2:'II',3:'III'}
lst=list(map(lambda x: d[x],d)) #returning values
print(lst)
lst=list(map(lambda x: (x,d[x]),d)) #returning key as well as value
print(lst)

['I', 'II', 'III']
[(1, 'I'), (2, 'II'), (3, 'III')]

It is possible to use map() function with more than one list if **the lists are of same length**.

In [61]:
#multiplying corresponding elements of two sequences
pro_lst=list( map ( lambda x,y : (x*y) , [1,2,3,4,5] , [3,4,5,6,7] ) )
print(pro_lst)

pro_tup=tuple( map ( lambda x,y: x*y, (2,3,4,5) , (5,6,7,8) ) )
print(pro_tup)

pro_lst=list( map ( lambda x,y,z : (x*y*z) , [1,2,3,4,5] , [3,4,5,6,7] , [4,3,2,1,0] ) ) #using three sequences
print(pro_lst)

[3, 8, 15, 24, 35]
(10, 18, 28, 40)
[12, 24, 30, 24, 0]



### 3. Using lambdas with *reduce()* function

The reduce() function reduces the sequence elements to a single vale by processing elements according a function. This function also works on each element of the sequence.
    
    reduce(function,sequence)
reduce() function reduces the list to the final value as indicated by the lambda function
> reduce( ) function belongs to *functools* module so we have to import that module to use this function.

In [65]:
from functools import reduce   #importing module
#sum of all elements of sequence

sum=reduce( lambda x,y: x+y , [1,2,3,4,5,6,7])
print(sum)

28

In [66]:
#product of all the lements in a sequence

pro=reduce( lambda x,y: x*y , (1,2,3,4,5,6,7))
print(pro)

5040

## Generator Function

    Generators are function that returns a sequence of values. A generator function is written same as normal function rather it  uses 'yield' statement in place of return.
yield statement is useful to return the value.

range is kind of generator function

In [71]:
#creating a generator function between two numbers

def mygen(x,y):   #generator function mygen()
    while(x<=y):
        yield x   #returns value of x
        x+=1
g=mygen(5,20)  #this gives generator function that contains numbers
print(g)
#to get values generated we iterate the generator object
for i in g:
    print(i,end=' ')

<generator object mygen at 0x0000021337804848>
5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

once a generator object is created that contains sequence of numbers,we can cast it into different data object.

In [75]:
lst=list(mygen(5,20))
print(lst)
print(type(lst))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
<class 'list'>

In [77]:
tup=tuple(mygen(5,20))
print(tup)
print(type(tup))

(5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
<class 'tuple'>

In [78]:
ss=set(mygen(5,15))
print(ss)
print(type(ss))

{5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
<class 'set'>

In [79]:
d=dict(mygen(5,15))
print(d)
print(type(d))

#generator object cannt be converted to dictionary object

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [81]:
len(mygen(5,10))

#len() function doesn't work on generator object

TypeError: object of type 'generator' has no len()

# >>
if we want to retrieve element by element from generator object we can use next() function

    when we call next() function first time it displays first elemnt,then iofwe call it next time it returns second eleemnt and so on.

In [86]:
def mygen2():
    yield 'A'
    yield 'B'
    yield 'C'
g=mygen2()
print(next(g)) #prints A
print(next(g)) #prints B
print(next(g)) #prints C
print(next(g)) #gives error as no element found

A
B
C

StopIteration:

## Sorting nested tuples using lambda function : 

if we have tuple of tuples and we have to sort the tuple according to element in the element tuples we can do it using lambda function:

In [4]:
# taking tuple

emp=((10,'Vijay',9474.034),(54,'kamal',8837.95),(9,'kk',997237.93),(81,'Khulbe',185399.83))

#sorting using lambda function 
print( sorted ( emp, key=lambda x: x[0] ) )  #ascending order
print( sorted ( emp, key=lambda x: x[1] ) )  #ascending order
print( sorted ( emp, key=lambda x: x[2] ) )  #ascending order

[(9, 'kk', 997237.93), (10, 'Vijay', 9474.034), (54, 'kamal', 8837.95), (81, 'Khulbe', 185399.83)]
[(81, 'Khulbe', 185399.83), (10, 'Vijay', 9474.034), (54, 'kamal', 8837.95), (9, 'kk', 997237.93)]
[(54, 'kamal', 8837.95), (10, 'Vijay', 9474.034), (81, 'Khulbe', 185399.83), (9, 'kk', 997237.93)]

## Sorting dictionary using lambda function :

sorting dictionary by key or value using lambda function:

In [8]:
#taking dictionary
colors={10: 'Red',35: 'Green', 25: 'Blue'}

#sorting dictionary by keys

c1=sorted(colors.items(), key=lambda t: t[0])
print(c1)

#sorting dictionary by values
c2=sorted(colors.items(), key=lambda t: t[1])
print(c2)

[(10, 'Red'), (25, 'Blue'), (35, 'Green')]
[(25, 'Blue'), (35, 'Green'), (10, 'Red')]