# Pattern

In [2]:
#ex1: 

for i in range(1,6):
    for j in range(1,6):
        print('*',end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [3]:
#ex2:

for i in range(1,6):
    for j in range(1,6):
        print(i,end=' ')
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [4]:
#ex3: 

for i in range(1,6):
    for j in range(1,6):
        print(j,end=' ')
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [22]:
#ex 4

lst=['A','B','C','D','E']
for i in lst:
    for j in lst:
        print(i,end=' ')
    print()

    
print()
#another way

for i in range(65,70):
    for j in range(65,70):
        print(chr(i),end=' ')
    print()

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [6]:
#ex 5

lst=['A','B','C','D','E']
for i in lst:
    for j in lst:
        print(j,end=' ')
    print()

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [7]:
#ex6: 

for i in range(5,0,-1):
    for j in range(1,6):
        print(i,end=' ')
    print()

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [8]:
#ex7: 

for i in range(5,0,-1):
    for j in range(1,6):
        print(j,end=' ')
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [9]:
#ex8: 

lst=['E','D','C','B','A']
for i in lst:
    for j in lst:
        print(i,end=' ')
    print()

E E E E E
D D D D D
C C C C C
B B B B B
A A A A A

In [11]:
#ex9: 

lst=['E','D','C','B','A']
for i in lst:
    for j in lst:
        print(j,end=' ')
    print()

E D C B A
E D C B A
E D C B A
E D C B A
E D C B A

In [12]:
#ex10: 

for i in range(1,6):
    for j in range(1,i+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [13]:
#ex11: 

for i in range(1,6):
    for j in range(1,i+1):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [14]:
#ex12:

for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [20]:
#ex13

lst=['A','B','C','D','E']
for i in lst:
    for j in range(1,lst.index(i)+2):
        print(i,end=' ')
    print()
    
#another way: 

for i in range(65,70):
    for j in range(65,i+1):
        print(chr(i),end=' ')
    print()

A
B B
C C C
D D D D
E E E E E
A
B B
C C C
D D D D
E E E E E

In [23]:
#ex14 : 

for i in range(65,70):
    for j in range(65,i+1):
        print(chr(j),end=' ')
    print()

A
A B
A B C
A B C D
A B C D E

In [27]:
#ex15 :

for i in range(1,6):
    for j in range(6,i,-1): #try to use the previous loop variable in an efficient way
        print('*',end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [28]:
#ex16: 

for i in range(1,6):
    for j in range(6,i,-1):
        print(i,end=' ')
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [31]:
#ex17:

for i in range(6,1,-1):
    for j in range(1,i):
        print(j,end=' ')
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [30]:
#ex18: 

for i in range(1,6):
    for j in range(5,i-1,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [32]:
#ex19: 

for i in range(65,70):
    for j in range(70,i,-1):
        print(chr(i),end=' ')
    print()

A A A A A
B B B B
C C C
D D
E

In [34]:
#ex20:

for i in range(70,65,-1):
    for j in range(65,i):
        print(chr(j),end=' ')
    print()

A B C D E
A B C D
A B C
A B
A

In [36]:
#ex21: 

for i in range(65,70):
    for j in range(69,i-1,-1):
        print(chr(j),end=' ')
    print()

E D C B A
E D C B
E D C
E D
E

In [40]:
#ex22: 

for i in range(5,0,-1):
    for j in range(0,i):
        print(i,end=' ')
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [41]:
#ex23: 

for i in range(1,6):
    for j in range(5,i-1,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [48]:
#ex24: 

for i in range(69,64,-1):
    for j in range(64,i):
        print(chr(i),end=' ')
    print()

E E E E E
D D D D
C C C
B B
A

In [49]:
#ex25 :

for i in range(65,70):
    for j in range(69,i-1,-1): 
        print(chr(j),end=' ')
    print()

E D C B A
E D C B
E D C
E D
E

In [53]:
#ex26: 

for i in range(1,6):
    for j in range(5,0,-1):
        if i>=j:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [54]:
#ex27: 

for i in range(1,6):
    for j in range(5,0,-1):
        if i>=j:
            print(i,end=' ')
        else:
            print(' ',end=' ')
    print()

        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5

In [55]:
#ex-28: 

for i in range(1,6):
    for j in range(5,0,-1):
        if i>=j:
            print(j,end=' ')
        else:
            print(' ',end=' ')
    print()

        1
      2 1
    3 2 1
  4 3 2 1
5 4 3 2 1

In [64]:
#ex-29

for i in range(1,6):
    for j in range(5,0,-1):
        if i>=j:
            print((i-j)+1,end=' ')
        else:
            print(' ',end=' ')
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [65]:
#ex30: 

for i in range(65,70):
    for j in range(69,64,-1):
        if i>=j:
            print(chr(i),end=' ')
        else:
            print(chr(32),end=' ')
    print()

        A
      B B
    C C C
  D D D D
E E E E E

In [66]:
#ex31: 

for i in range(65,70):
    for j in range(69,64,-1):
        if i>=j:
            print(chr(j),end=' ')
        else:
            print(chr(32),end=' ')
    print()

        A
      B A
    C B A
  D C B A
E D C B A

In [72]:
#ex32: 

for i in range(65,70):
    for j in range(69,64,-1):
        if i>=j:
            ch=i-j+65
            print(chr(ch),end=' ')
        else:
            print(chr(32),end=' ')
    print()

        A
      A B
    A B C
  A B C D
A B C D E

In [3]:
#ex33: 

for i in range(1,6):
    for j in range(1,6):
        if i<=j:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * *
  * * * *
    * * *
      * *
        *

In [8]:
#ex34: 

for i in range(5,0,-1):
    for j in range(5,0,-1):
        if i>=j:
            print(i,end=' ')
        else:
            print(' ',end=' ')
    print()

5 5 5 5 5
  4 4 4 4
    3 3 3
      2 2
        1

In [9]:
#ex35: 

for i in range(1,6):
    for j in range(1,6):
        if i<=j:
            print(j,end=' ')
        else:
            print(' ',end=' ')
    print()

1 2 3 4 5
  2 3 4 5
    3 4 5
      4 5
        5

In [11]:
#ex36: 

for i in range(69,64,-1):
    for j in range(69,64,-1):
        if i>=j:
            print(chr(i),end=' ')
        else:
            print(chr(32),end=' ')
    print()

E E E E E
  D D D D
    C C C
      B B
        A

In [13]:
#ex37: 

for i in range(65,70):
    for j in range(65,70):
        if i<=j:
            print(chr(j),end=' ')
        else:
            print(' ',end=' ')
    print()

A B C D E
  B C D E
    C D E
      D E
        E

In [14]:
#ex38: 
                                
for i in range(0,5): 
    for j in range(4,-4,-1):
        if (i==j):
            for k in range(i,(-i-1),-1):
                print('*',end=' ')
        else:
            print(' ',end=' ')
    print()
    
    
#another way: using concept of space printing and asterik printng

count=1
for i in range(1,6):
    for j in range(5,i,-1):
        print(' ',end=' ')
    for k in range(1,count+1):
        print('*',end=' ')
    count+=2
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [15]:
#above program in general way: 

n=int(input("enter number of rows: "))
for i in range(0,n):
    for j in range(n-1,-(n-1),-1):
        if i==j:
            for k in range(i,-(i+1),-1):
                print('*',end=' ')
        else:
            print(' ',end=' ')
    print()
    
    
#another way: 

n=int(input("enter number of rows: "))
count=1
for i in range(1,n+1):
    for j in range(n,i,-1):
        print(' ',end=' ')
    for k in range(1,count+1):
        print('*',end=' ')
    count+=2
    print()

enter number of rows: 5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
enter number of rows: 6
          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *

In [23]:
#ex39:

count=1
for i in range(1,6):
    for j in range(5,i,-1):
        print(' ',end=' ')
    for k in range(1,count+1):
        print(i,end=' ')
    count+=2
    print()

        1
      2 2 2
    3 3 3 3 3
  4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5

In [22]:
#ex 40: 

count=1
for i in range(1,6):
    for j in range(5,i,-1):
        print(' ',end=' ')
    for k in range(1,count+1):
        print(count,end=' ')
    count+=2
    print()

        1
      3 3 3
    5 5 5 5 5
  7 7 7 7 7 7 7
9 9 9 9 9 9 9 9 9

In [24]:
#41: 

count=1
for i in range(65,70):
    for j in range(69,i,-1):
        print(chr(32),end=' ')
    for k in range(1,count+1):
        print(chr(i),end=' ')
    count+=2
    print()

        A
      B B B
    C C C C C
  D D D D D D D
E E E E E E E E E

In [30]:
#42: 

count=1
for i in range(63,72,2):
    for j in range(71,i,-2):
        print(chr(32),end=' ')
    for k in range(1,count+1):
        print(chr(i+2),end=' ')
    count+=2
    print()

        A
      C C C
    E E E E E
  G G G G G G G
I I I I I I I I I

In [34]:
#ex43: 
count=1
for i in range(1,6):
    for j in range(5,i,-1):
        print(' ',end=' ')
    for k in range(1,count+1):
        print(k,end=' ')
    count+=2
    print()

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [38]:
#ex44 : 

count=1
for i in range(1,6):
    for j in range(5,i,-1):
        print(' ',end=' ')
    for k in range(count,0,-1):
        print(k,end=' ')
    count+=2
    print()

        1
      3 2 1
    5 4 3 2 1
  7 6 5 4 3 2 1
9 8 7 6 5 4 3 2 1

In [43]:
#ex45 :

count=65
for i in range(65,70):
    for j in range(69,i,-1):
        print(' ',end=' ')
    for k in range(65,count+1):
        print(chr(k),end=' ')
    count+=2
    print()

        A
      A B C
    A B C D E
  A B C D E F G
A B C D E F G H I

In [45]:
#ex46 :

count=65
for i in range(65,70):
    for j in range(69,i,-1):
        print(' ',end=' ')
    for k in range(count,64,-1):
        print(chr(k),end=' ')
    count+=2
    print()

        A
      C B A
    E D C B A
  G F E D C B A
I H G F E D C B A

In [47]:
#ex47 :

count=1
for i in range(0,5):
    for j in range(5,i,-1):
        print(' ',end=' ')
    for k in range(-i,i+1):
        print(abs(k),end=' ')
    count+=2
    print()

          0
        1 0 1
      2 1 0 1 2
    3 2 1 0 1 2 3
  4 3 2 1 0 1 2 3 4

In [10]:
#ex48 :

count=65
for i in range(65,70):
    for j in range(69,i,-1):
        print(' ',end=' ')
    for k in range(-i+65,(i+1)-65):
        print(chr(abs(k)+65),end=' ')
    count+=2
    print()

        A
      B A B
    C B A B C
  D C B A B C D
E D C B A B C D E

In [1]:
#ex49 :

for i in range(1,5):
    for j in range(4,i,-1):
        print(' ',end=' ')
    for k in range(-(i-1),i):
        print(i-abs(k),end=' ')
    print()

      1
    1 2 1
  1 2 3 2 1
1 2 3 4 3 2 1

In [4]:
#ex50

for i in range(1,6):
    for j in range(5,i,-1):
        print(' ',end=' ')
    for k in range(-(i-1),i):
        ch=i-abs(k)+64
        print(chr(ch),end=' ')
    print()

        A
      A B A
    A B C B A
  A B C D C B A
A B C D E D C B A

In [10]:
#ex51

count=7
for i in range(1,5):
    for j in range(i-1):
        print(' ',end=' ')
    for k in range(0,count):
        print('*',end=' ')
    count-=2
    print()

* * * * * * *
  * * * * *
    * * *
      *

In [16]:
#ex52
count=7
for i in range(4,0,-1):
    for j in range(0,(4-i)):
        print(' ',end=' ')
    for k in range(0,count):
        print(i,end=' ')
    count-=2
    print()

4 4 4 4 4 4 4
  3 3 3 3 3
    2 2 2
      1

In [17]:
#ex53
count=7
for i in range(4,0,-1):
    for j in range(0,(4-i)):
        print(' ',end=' ')
    for k in range(0,count):
        print(count,end=' ')
    count-=2
    print()

7 7 7 7 7 7 7
  5 5 5 5 5
    3 3 3
      1

In [19]:
#ex54
count=7
for i in range(4,0,-1):
    for j in range(0,(4-i)):
        print(' ',end=' ')
    for k in range(1,count+1):
        print(k,end=' ')
    count-=2
    print()

1 2 3 4 5 6 7
  1 2 3 4 5
    1 2 3
      1

In [21]:
#ex55

count=7
for i in range(4,0,-1):
    for j in range(0,(4-i)):
        print(' ',end=' ')
    for k in range(0,count):
        ch=64+i
        print(chr(ch),end=' ')
    count-=2
    print()

D D D D D D D
  C C C C C
    B B B
      A

In [22]:
#ex56

count=7
for i in range(4,0,-1):
    for j in range(0,(4-i)):
        print(' ',end=' ')
    for k in range(0,count):
        ch=64+count
        print(chr(ch),end=' ')
    count-=2
    print()

G G G G G G G
  E E E E E
    C C C
      A

In [23]:
#ex57

count=7
for i in range(4,0,-1):
    for j in range(0,(4-i)):
        print(' ',end=' ')
    for k  in range(0,count):
        ch=65+k
        print(chr(ch),end=' ')
    count-=2
    print()

A B C D E F G
  A B C D E
    A B C
      A

In [7]:
#ex58

n=int(input('Enter nsize: '))
for  i in range(-n,n+1):
    for j in range(n,(abs(i)-1),-1):
        print('*',end=' ')        
    print()

Enter nsize: 7
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [13]:
#ex59 :

n=int(input('enter size: '))
for i in range(-n,n+1):
    for j in range(abs(i),n+1):
        print((j),end=' ')
    print()

enter size: 3
3
2 3
1 2 3
0 1 2 3
1 2 3
2 3
3

In [14]:
#ex60 :
n=int(input('enter size: '))
for i in range(-n,n+1):
    for j in range(n,abs(i),-1):
        print(chr(j+64),end=' ')
    print()

enter size: 4

D
D C
D C B
D C B A
D C B
D C
D

In [15]:
#ex61 : 

n=int(input('Enter the string: '))
for i in range(-n,n+1):
    for j in range(0,abs(i)):
        print(' ',end=' ')
    for k in range(n,(abs(i)-1),-1):
        print('*',end=' ')
    print()

Enter the string: 4
        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [17]:
#ex62 : 

n=int(input('Enter the size: '))
for i in range(-n,n+1):
    for j in range(0,abs(i)):
        print(' ',end=' ')
    for k  in range(n,abs(i)-1,-1):
        print(k,end=' ')
    print()

Enter the size: 4
        4
      4 3
    4 3 2
  4 3 2 1
4 3 2 1 0
  4 3 2 1
    4 3 2
      4 3
        4

In [19]:
#ex63 : 

n=int(input('Enter the size: '))
for i in range(-n,n+1):
    for j in range(0,abs(i)):
        print(' ',end=' ')
    for k in range(abs(i),n+1):
        print(k,end=' ')
    print(' ')

Enter the size: 3
      3
    2 3
  1 2 3
0 1 2 3
  1 2 3
    2 3
      3

In [22]:
#ex64

n=int(input('Enter the size: '))
for i in range(-n,n+1):
    for j in range(0,abs(i)):
        print(' ',end=' ')
    for k in range(abs(i),n+1):
        print(chr(65+k),end=' ')
    print()

Enter the size: 3
      D
    C D
  B C D
A B C D
  B C D
    C D
      D

In [25]:
#ex65
n= int(input('Enter the size: '))
for i in range(-n,n+1):
    for j in range(0,abs(i)):
        print(' ',end=' ')
    for k in range(n,abs(i)-1,-1):
        print(chr(65+k),end=' ')
    print()

Enter the size: 3
      D
    D C
  D C B
D C B A
  D C B
    D C
      D