# Dictionary

Dictionary represents a dataobject in which each element is present as a ' KEY-VALUE ' pair. It is a kind of mapping collection like hash tables.

Dictionary is a mapping collection in which data is present in a kind of key-value pair where first part is 'key' and second part is 'value' which is mapped by a unique key.

> Each element in a dictionary is key:value pair which are seperated bu colon and are enclosed within curly braces.

>In dictionary , order is not maintained i.e. the order in which is entered into it and the order in which it is stored is different.

Dictionaries are widely used in mapping.

In [1]:
#dictionary creation

d={}       #empty dictionary
print(d)
print(type(d))

{}
<class 'dict'>

In [3]:
#but

d={4}
print(d)
print(type(d))

{4}
<class 'set'>

we can see empty {} defines no element and is considered as Dictionary but when a single element is present there, it changes to set

> set single unique elements but dictionary contains key value pair data

>We can have heterogeneous key and values data inside dictionary

In [20]:
d_samp={'Name':'kamal','age':23,'salary':1203463}
print(d_samp)

{'Name': 'kamal', 'age': 23, 'salary': 1203463}

### Aceesing elements
There is no indexing is followed in dictionary.
>The values of the dictionary are accesed using the key mapped with that particular value.

In [6]:
d_samp['Name']

'kamal'

In [12]:
d_samp['age']

23

In [13]:
d_samp['salary']

1203463

In [7]:
#keys are case senstive
d_samp['name']

KeyError: 'name'

> no concatenation and repitition operation is allowed in dictionary.

In [14]:
#length of dictionary

len(d_samp) #returns number of key value pairs

3

In [26]:
#updating value in a key
d_samp={'Name':'kamal','age':23,'salary':1203463}
print(d_samp)
d_samp['salary']=973723
print(d_samp)

#we see change in value of key 'salary'

{'Name': 'kamal', 'age': 23, 'salary': 1203463}
{'Name': 'kamal', 'age': 23, 'salary': 973723}

> one key : value pair in dictionary is considered as one element

In [30]:
#adding new element

print(d_samp)
d_samp['city']='Banglore'
print(d_samp)

#compiler first checks if any key city is present or not,
#if present updates the value with new value,otherwise adds a new key:value pair

{'Name': 'kamal', 'age': 23, 'salary': 973723}
{'Name': 'kamal', 'age': 23, 'salary': 973723, 'city': 'Banglore'}

> new key:value pair can be added at any random place

In [31]:
#deleting an element
#del statement is used(uncommon)

print(d_samp)
del d_samp['city']
print(d_samp)

{'Name': 'kamal', 'age': 23, 'salary': 973723, 'city': 'Banglore'}
{'Name': 'kamal', 'age': 23, 'salary': 973723}

In [32]:
#membership function
#checks for keys

'city' in d_samp

False

In [33]:
'name' not in d_samp

True

In [34]:
'Name' in d_samp

True

In [35]:
'gender' in d_samp

False

> > All the keys should be unique inside dictionary but values can be anything.

## IMP: Rules for defining keys

We can choose any type of datatype for Values it can be int, float, string, list,complex, tuples, dictionary, set, range,..anything.
But keys folloe different rules which are as follows:

### 1.Rule-1:

> KEYS SHOULD BE UNIQUE:

    Duplicate keys are no allowed. If we enter same key again,the old key will be overwritten and only new key will be vailable.

In [37]:
d={1:'one',2:'Two',3:'Three',4:'Four'}
print(d)
d[2]='Second'
print(d)
#we see change in value of key 2

{1: 'one', 2: 'Two', 3: 'Three', 4: 'Four'}
{1: 'one', 2: 'Second', 3: 'Three', 4: 'Four'}

## 2.Rule-2:
> Keys Should be Immutable: 
    
    We can use numbers,strings,boolean values,tuples,etc as keys but we cannot use list,set or dictionaries as key because they are mutable.

In [38]:
d={2,'kamal'}
print(d)

{2, 'kamal'}

In [39]:
d={2+3j,'complex'}
print(d)

{(2+3j), 'complex'}

In [41]:
d={'kamal':78.7838} #string as key
print(d)

{'kamal': 78.7838}

In [42]:
d={(2,3),(63,83,93)} #tuple as key
print(d)

{(63, 83, 93), (2, 3)}

In [44]:
d={True:['Boolean',1,'True']} #boolean value as key
d

{True: ['Boolean', 1, 'True']}

In [46]:
d={range(10):'range'} #range object is also allowed as key
d

{range(0, 10): 'range'}

In [47]:
d[range(9)] #key is not present

KeyError: range(0, 9)

In [50]:
d[range(10)]

'range'

In [53]:
d={[1,2]:'List'}

#list is not allowed as key

TypeError: unhashable type: 'list'

In [54]:
d={*:'special character'}

#special chacrs is not valid

SyntaxError: invalid syntax (<ipython-input-54-4a3938420f84>, line 1)

In [55]:
d={{2,3},'set'}  #set is not allowed as key
d

TypeError: unhashable type: 'set'

In [56]:
d={{2:3},'dictionary'}  #dictionary is not allowed as key
d

TypeError: unhashable type: 'dict'

In [58]:
d={'dict':{1,2,3,4,5,5,5,6,6,7}}  #set as value
print(d)

#duplicates are automaticalyy eliminated.

{'dict': {1, 2, 3, 4, 5, 6, 7}}

In [65]:
#COMLEX DICTIONARY

dic={True:'True',34.67:'float',9829:[9,8,2,9],'key1':{2,3,4,5,6}}

print(dic[True])
print('dic[9829]: ',dic[9829])
print('dic[9829][1]: ',dic[9829][1])
print('key1: ',dic['key1'])

True
dic[9829]:  [9, 8, 2, 9]
dic[9829][1]:  8
key1:  {2, 3, 4, 5, 6}

#### Nested Dictionary

In [68]:
dic={True:'True',34.67:'float',9829:[9,8,2,9],'key1':{2,3,4,5,6},'key2':{'key21':'kamal','key22':'singh'}}
print(dic)

{True: 'True', 34.67: 'float', 9829: [9, 8, 2, 9], 'key1': {2, 3, 4, 5, 6}, 'key2': {'key21': 'kamal', 'key22': 'singh'}}

In [70]:
print(d[9829])
print('d[9829][1]: ',d[9829][1])
print("d['key2']:",d['key2'])
print("d['key2']['key21']: ",d['key2']['key21'])
print("d['key1']: ",d['key1'])

[9, 8, 2, 9]
d[9829][1]:  8
d['key2']: {'key21': 'kamal', 'key22': 'singh'}
d['key2']['key21']:  kamal
d['key1']:  {2, 3, 4, 5, 6}

 ## >IMP

In [72]:
#complex

nest={'key1':{'key11':{'key111':'last-Value'}}}

print('nest: ',nest)
print("nest['key1']: ",nest['key1'])
print("nest['key1']['key11']:",nest['key1']['key11'])
print("nest['key1']['key11']['key111']: ",nest['key1']['key11']['key111'])

nest:  {'key1': {'key11': {'key111': 'last-Value'}}}
nest['key1']:  {'key11': {'key111': 'last-Value'}}
nest['key1']['key11']: {'key111': 'last-Value'}
nest['key1']['key11']['key111']:  last-Value

In [73]:
#assigning values

d1={'k1':'kamal','k2':'singh'}
d1['k3']=d1['k2']
print(d1)

{'k1': 'kamal', 'k2': 'singh', 'k3': 'singh'}

> if any key to is present it gets updated with the new value and if not a new key:value pair is added to the dictionary.

In [77]:
#iterating dictionary

d_samp={'Name': 'kamal', 'age': 23, 'salary': 973723,'key4':[4,2],'key5':(2,3)}
print(d_samp)

{'Name': 'kamal', 'age': 23, 'salary': 973723, 'key4': [4, 2], 'key5': (2, 3)}

In [80]:
#iterating dictionary: 

for i in d_samp:   #prints key
    print(i)

Name
age
salary
key4
key5

In [81]:
for i in d_samp:
    print( d_samp[ i ] )

kamal
23
973723
[4, 2]
(2, 3)

In [83]:
#printing keys and values
for i in d_samp:
    print('{} : {}'.format(i,d_samp[i]))

Name : kamal
age : 23
salary : 973723
key4 : [4, 2]
key5 : (2, 3)

In [82]:
#printing keys and values
for keys,values in d_samp.items():
    print('{} : {} '.format(keys,values))

Name : kamal
age : 23
salary : 973723
key4 : [4, 2]
key5 : (2, 3)

In [135]:
#converting string to dictionary
string=input('enter the string: ')
d={}
d=d.fromkeys(string,0)
print(d)

enter the string: kamal
{'k': 0, 'a': 0, 'm': 0, 'l': 0}

## Built-In functions of Dictionary

In [88]:
print(d_samp.keys())
print('TYPE: ',type(d_samp.keys()))

#returns a "list of keys" of the dictionary

dict_keys(['Name', 'age', 'salary', 'key4', 'key5'])
TYPE:  <class 'dict_keys'>

In [89]:
print(d_samp.values())

print(type(d_samp.values()))

# returns a "list of values of keys" in the dictionary

dict_values(['kamal', 23, 973723, [4, 2], (2, 3)])
<class 'dict_values'>

In [91]:
print(d_samp.items())

#returns "list of tuples of key value" pair in dictionary

#here we can see all the key value pair is shown as tuple which are enclosd within a list

dict_items([('Name', 'kamal'), ('age', 23), ('salary', 973723), ('key4', [4, 2]), ('key5', (2, 3))])

In [94]:
d1={}
d1=d_samp.copy()

print('d_samp: ',d_samp)
print()
print('d1: ',d1)
# copy() copies all elements one dictionary to another makes a shallow copy of d_samp and copies it into d1

d_samp:  {'Name': 'kamal', 'age': 23, 'salary': 973723, 'key4': [4, 2], 'key5': (2, 3)}

d1:  {'Name': 'kamal', 'age': 23, 'salary': 973723, 'key4': [4, 2], 'key5': (2, 3)}

In [96]:
x={'new':'form update()'}
d1={1:'old',2:'dictionary'}\

#update()
print('d1( before update): ',d1)
d1.update(x)

print('d1(ater update: ): ',d1)

#this method copies and adds all the elements of 'x' to 'd1' and updates 'd1'

d1( before update):  {1: 'old', 2: 'dictionary'}
d1(ater update: ):  {1: 'old', 2: 'dictionary', 'new': 'form update()'}
{'new': 'form update()'}

In [102]:
#get() :   dict_name.get( key, default=None(it can be any number))

#This method returns value for the key given,otherwise default

print('d1: ',d1)

print(d1.get(1))

print(d1.get(3,-1)) #here key is not mentioned,it returns default=-1

print(d1.get(4)) #key not mentioned neither default,by default None is default

d1:  {1: 'old', 2: 'dictionary', 'new': 'form update()'}
old
-1
None

In [111]:
#fromkeys(): dict_name.fromkeys( iterable,value=None)

# Create a new dictionary with keys from iterable and values set to value.

x=x.fromkeys([2,3,4]) #FIRST
print(x)

x=x.fromkeys([2,3,4],4) #second
print(x)

x=x.fromkeys(d1.keys(),[2,5]) #third
print(x)

x=x.fromkeys({2,3},5) #fourth
print(x)

x=x.fromkeys(d1,6) #fifth
print(x)

{2: None, 3: None, 4: None}
{2: 4, 3: 4, 4: 4}
{1: [2, 5], 2: [2, 5], 'new': [2, 5]}
{2: 5, 3: 5}
{1: 6, 2: 6, 'new': 6}

above,
FIRST e.g.: iterable taken is a list, value is not given so bydefault it takesm it as None.

SECOND: same iterable, but only 4 is given as value so it is aquired as a value by all thew keys

THIRD: taken keys from d1 dict and provided a list as value

FOURTH: passed set as an iterable

FIFTH:  passeda dictionaryas iterable and the method take the keys from that dictionary and makes it keys of dictionary x

In [118]:
d1={1: 6, 2: 6, 'new': 6}

In [119]:
#pop: dict_name.pop(k,[v])

#remove specified key from dictionary and return the corresponding value.

print(d1)
d1.pop(2)
print(d1)

#If key is not found, d is returned if given, otherwise KeyError is raised

d1.pop(2)
print(d1)

#key '2' is not in dictionary, keyErro is raised

{1: 6, 2: 6, 'new': 6}
{1: 6, 'new': 6}

KeyError: 2

In [127]:
d1={1: 6, 2: 6, 'new': 6}


#setdefault(): d1.setdefault(key, default=None, /)
#If key is found returns the value,if key is not found,adds the key with value=default provided

d1.setdefault(2)
print(d1)

d1.setdefault(3,-1) #adds element 3 as key and -1 as value
print(d1)

d1.setdefault(4) #adds element 4 as key and default= None as no default value given
print(d1)

{1: 6, 2: 6, 'new': 6}
{1: 6, 2: 6, 'new': 6, 3: -1}
{1: 6, 2: 6, 'new': 6, 3: -1, 4: None}

#### Finding number of occurences of charcters in a string using dictionary

In [137]:
string=input('Enter the string: ')
d_count={}
for i in string:
    d_count[i]=d_count.get(i,0)+1 
    
#we take string and get function,if key is not there it adds new element else updates the value

#printing occurences
for k,v in d_count.items():
    print('{} has {} occurences'.format(k,v))

Enter the string: kamal
k has 1 occurences
a has 2 occurences
m has 1 occurences
l has 1 occurences

#### Converting Lists to Dictionary

In [148]:
#Initializing Lists

nums=[1,2,3,4,5]
romans=['I','II','III','IV','V']

#we use zip class object constructor zip() method to to combine two list

z=zip(nums,romans)
print(z) #sipped object is presented as object only

#now converting zip object to dictionary

d=dict(z)
for i in d:
    print(i,d[i])

<zip object at 0x000002BD9662AA48>
1 I
2 II
3 III
4 IV
5 V

### Ordered Functions

As elements in dictionary are not ordered so to store them in an ordered way we use ordered dictionaries.
In ordered dictionaries, elements are stored and maintained in the same order.
Todo so we use OrderedDict() method of collection module.

In [151]:
form collection import OrderedDict

d=OrderedDict()
d[1]='I'
d[2]='II'
d[3]='III'
d[4]='IV'
print(d)

SyntaxError: invalid syntax (<ipython-input-151-640d9283ac40>, line 1)

## Dictionary Comprehension

> creating a dictonary just one line of code using colon between key and value enitities.

In [152]:
# print key with its square upto 10

d_sq={i:i**2 for i in range(1,11)}
print(d_sq)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [156]:
#ascii value extraction
d_ascii={i:ord(i) for i in 'abcdefghij'}
d_ascii

{'a': 97,
 'b': 98,
 'c': 99,
 'd': 100,
 'e': 101,
 'f': 102,
 'g': 103,
 'h': 104,
 'i': 105,
 'j': 106}